{{extend 'layout.html'}}
<h1>
Administrative interface for Badge Office Sewadars:
</h1>
<h2>MANAGE</h2>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/default/update">Upload files</a>
</h3>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/default/CardList">Proximity Card List Registration</a>
</h3>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/appadmin/index">Database Management</a>
</h3>
<h2>REPORTS</h2>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/default/ShortAttendance">Notice Board Short Attendance</a>
</h3>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/default/ParshadList">Parshad List and machine difference</a>
</h3>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/default/AttendanceRegisterDetailed">Attendance Register Jatha Wise</a>
</h3>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/default/ShortAttendanceRegister">Jatha Wise Short Attendance Register</a>
</h3>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/default/AttendanceRegisterAll">Attendance Register for entire Canteen</a>
</h3>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/default/MissedMarking">Sewadars that missed marking Attendance on Machine</a>
</h3>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/default/DailyStrengthReport">Daily Strength Report</a>
</h3>
<h2>UTILITIES</h2>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/default/SplitExcel">Split Excel file based on columns</a>
------------------------
<a href="/AttendanceSoftware/static/SplitExcel.xlsx?attachment">Download Sample</a>
</h3>
<h3>
<a href="https://rootcat.pythonanywhere.com/AttendanceSoftware/default/ExcelTemplate">Generate Attendance Card Style files from template</a>
------------------------
<a href="/AttendanceSoftware/static/ExcelTemplate.xlsx?attachment">Download Sample</a>
</h3>
